header {
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin: 40px auto;
    text-align: center;
    color: blue;
}

#loginBox {
    text-align: center;
    font-size: 25px;
}

#loginBox a {
    color: black;
    text-decoration: none;
    position: relative;
    top: 10px;
}

#loginBox input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.msgBox {
    text-align: center;
    color: red;
    font-size: 15px;
}

.app-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 200px;
    grid-gap: 30px;
}

.columnHeader {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#relations {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}

#posts {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

#messages {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
}

#newFriend {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
}

#newPost {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
}

#newMessage {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
}

#postsList {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
}

#messagesList {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
}

.app-container input {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-container textarea {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-container input[type='submit'] {
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#post {
    height: 70px;
}

#message_content {
    height: 40px;
}

.postAuthor {
    display: inline-flex;
    width: 25%;
    height: 50px;
    border-style: ridge;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: azure;
    font-weight: bold;
}

.messageAuthor {
    display: inline-flex;
    width: 25%;
    height: 50px;
    border-style: ridge;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: azure;
    font-weight: bold;
}

.postContent {
    display: inline-flex;
    width: 65%;
    height: 50px;
    border-style: ridge;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.messageContent {
    display: inline-flex;
    width: 65%;
    height: 50px;
    border-style: ridge;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

#logoutBox {
    position: absolute;
    display: inline;
    top: 80px;
    left: 80%;
}

#logoutButton {
    width: 100px;
    height: 60px;
}