extends layout

block content
    div(id='logoutBox')
        form(action='/app' method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='type' value='logout')
            input(type='hidden' name='messages' value=messages)
            input(type='hidden' name='feed' value=feed)
            input(type='submit' name='logout_s' id='logoutButton' value='Logout')
    div(class='app-container')
        div(id='relations')
            p(class='columnHeader')="Friends"
            div(id='newFriend')
                form(action='/app' method='POST')
                    input(type='text' name='user' placeholder='New friend' required)
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='type' value='newFriend')
                    input(type='hidden' name='messages' value=messages)
                    input(type='hidden' name='feed' value=feed)
                    br
                    input(type='submit' name='friend_s' value='Add new friend')
        div(id='posts')
            p(class='columnHeader')='Posts'
            div(id='newPost')
                form(action='/app' method='POST')
                    textarea(type='text' name='post' id='post' placeholder='New post' required)
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='type' value='newPost')
                    input(type='hidden' name='messages' value=messages)
                    input(type='hidden' name='feed' value=feed)
                    br
                    input(type='submit' name='post_s' value='Submit new post')
            div(id='postsList')
                each post in feed
                    div(class='post')
                        div(class='postAuthor')=post.author
                        div(class='postContent')=post.content
        div(id='messages')
            p(class='columnHeader')='Messages'
            div(id='newMessage')
                form(action='/app' method='POST')
                    input(type='text' name='message_to' placeholder="Send to" required)
                    textarea(type='text' name='message_content' id='message_content' placeholder="Message" required)
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='type' value='newMessage')
                    input(type='hidden' name='messages' value=messages)
                    input(type='hidden' name='feed' value=feed)
                    br
                    input(type='submit' name='message_s' value='Send message')
            div(id='messagesList')
                each message in messages
                    div(class='message')
                        div(class='messageAuthor')=message.from
                        div(class='messageContent')=message.content


