extends layout

block content
  div(id='loginBox')
    p="Log in or sign up"
    form(action='/' method='POST')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='text' placeholder='username' name='username' required)
      br
      input(type='password' placeholder='password' name='password' required)
      br
      input(type='submit' name='logins' value='Log in')

    a(href='/signup')='Sign up'
