doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header="Twiiiter"
    if (locals.message === true)
      div(class='msgBox')=msg
    block content
