extends layout

block content
    div(id='loginBox')
        p="Insert your login and password"
        form(action='/signup' method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='text' placeholder='username' name='username' required)
            br
            input(type='password' placeholder='password' name='password' required)
            br
            input(type='submit' name='signups' value='Sign up')

        a(href='/')="Back"
